<h1>Awesome Products</h1>
<% @products.each do |product| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
    <div class="card-product-infos">
      <h2><%= product.name %></h2>
      <p><%= product.tagline %></p>
    </div>
  </div>
<% end %>



<%#

NOTES 2


rails has a notion of environments
a developlemt environment when we run rails s
dev environment has it's own db
production environment has it's own db which is empty by default

test environment which has it's own db
when you're running tests - want to quicly config the db in a specific way that will allow the test to pass

%>
